<p-toast></p-toast>

<p-toolbar styleClass="mb-6">
    <ng-template #start>
        <p-button label="Nuevo" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="openNew()" />
        <p-button severity="secondary" label="Eliminar" icon="pi pi-trash" outlined (onClick)="deleteSelectedRepartidores()" [disabled]="!selectedRepartidores || !selectedRepartidores.length" />
    </ng-template>

    <ng-template #end>
        <p-button label="Exportar" icon="pi pi-upload" severity="secondary" (onClick)="exportCSV()" />
    </ng-template>
</p-toolbar>

<p-table
    #dt
    [value]="repartidores()"
    [rows]="10"
    [columns]="cols"
    [paginator]="true"
    [globalFilterFields]="['nombre', 'telefono', 'vehiculo']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [(selection)]="selectedRepartidores"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} repartidores"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[5,10, 20]"
>
    <ng-template #caption>
        <div class="flex items-center justify-between">
            <h5 class="m-0">Gestión de Repartidores</h5>
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..." />
            </p-iconfield>
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <th style="width: 3rem">
                <p-tableHeaderCheckbox />
            </th>
            <th pSortableColumn="nombre" style="min-width:16rem">
                Nombre
                <p-sortIcon field="nombre" />
            </th>
            <th pSortableColumn="telefono" style="min-width:12rem">
                Teléfono
                <p-sortIcon field="telefono" />
            </th>
            <th pSortableColumn="vehiculo" style="min-width:16rem">
                Vehículo
                <p-sortIcon field="vehiculo" />
            </th>
            <th style="min-width: 12rem"></th>
        </tr>
    </ng-template>
    <ng-template #body let-repartidor>
        <tr>
            <td style="width: 3rem">
                <p-tableCheckbox [value]="repartidor" />
            </td>
            <td style="min-width: 16rem">{{ repartidor.nombre }}</td>
            <td style="min-width: 12rem">{{ repartidor.telefono }}</td>
            <td style="min-width: 16rem">{{ repartidor.vehiculo }}</td>
            <td>
                <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" (click)="editRepartidor(repartidor)" />
                <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (click)="deleteRepartidor(repartidor)" />
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog [(visible)]="repartidorDialog" [style]="{ width: '450px' }" header="Detalles del Repartidor" [modal]="true">
    <ng-template #content>
        <div class="flex flex-col gap-6">
            <div>
                <label for="nombre" class="block font-bold mb-3">Nombre</label>
                <input type="text" pInputText id="nombre" [(ngModel)]="repartidor.nombre" required autofocus fluid />
                <small class="text-red-500" *ngIf="submitted && !repartidor.nombre">El nombre es requerido.</small>
            </div>
            
            <div>
                <label for="telefono" class="block font-bold mb-3">Teléfono</label>
                <input type="text" pInputText id="telefono" [(ngModel)]="repartidor.telefono" required fluid />
                <small class="text-red-500" *ngIf="submitted && !repartidor.telefono">El teléfono es requerido.</small>
            </div>

            <div>
                <label for="vehiculo" class="block font-bold mb-3">Vehículo</label>
                <input type="text" pInputText id="vehiculo" [(ngModel)]="repartidor.vehiculo" required fluid />
                <small class="text-red-500" *ngIf="submitted && !repartidor.vehiculo">El vehículo es requerido.</small>
            </div>
        </div>
    </ng-template>

    <ng-template #footer>
        <p-button label="Cancelar" icon="pi pi-times" text (click)="hideDialog()" />
        <p-button label="Guardar" icon="pi pi-check" (click)="saveRepartidor()" />
    </ng-template>
</p-dialog>

<p-confirmdialog [style]="{ width: '450px' }" />
