<p-toast></p-toast>

<p-toolbar styleClass="mb-6">
  <ng-template #start>
    <p-button
      label="Nuevo"
      icon="pi pi-plus"
      severity="secondary"
      class="mr-2"
      (onClick)="openNew()"
    />
    <p-button
      severity="secondary"
      label="Eliminar"
      icon="pi pi-trash"
      outlined
      (onClick)="deleteSelectedMeseros()"
      [disabled]="!selectedMeseros || !selectedMeseros.length"
    />
  </ng-template>

  <ng-template #end>
    <p-button
      label="Exportar"
      icon="pi pi-upload"
      severity="secondary"
      (onClick)="exportCSV()"
    />
  </ng-template>
</p-toolbar>

<p-table
  #dt
  [value]="meseros()"
  [rows]="10"
  [columns]="cols"
  [paginator]="true"
  [globalFilterFields]="['nombre', 'documento', 'turno']"
  [tableStyle]="{ 'min-width': '75rem' }"
  [(selection)]="selectedMeseros"
  [rowHover]="true"
  dataKey="id_mesero"
  currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} meseros"
  [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[5, 10, 20]"
>
  <ng-template #caption>
    <div class="flex items-center justify-between">
      <h5 class="m-0">Gestión de Meseros</h5>
      <p-iconfield>
        <p-inputicon styleClass="pi pi-search" />
        <input
          pInputText
          type="text"
          (input)="onGlobalFilter(dt, $event)"
          placeholder="Buscar..."
        />
      </p-iconfield>
    </div>
  </ng-template>

  <ng-template #header>
    <tr>
      <th style="width: 3rem">
        <p-tableHeaderCheckbox />
      </th>
      <th pSortableColumn="nombre" style="min-width:16rem">
        Nombre
        <p-sortIcon field="nombre" />
      </th>
      <th pSortableColumn="documento" style="min-width:16rem">
        Documento
        <p-sortIcon field="documento" />
      </th>
      <th pSortableColumn="turno" style="min-width:12rem">
        Turno
        <p-sortIcon field="turno" />
      </th>
      <th style="min-width: 12rem"></th>
    </tr>
  </ng-template>

  <ng-template #body let-mesero>
    <tr>
      <td style="width: 3rem">
        <p-tableCheckbox [value]="mesero" />
      </td>
      <td style="min-width: 16rem">{{ mesero.nombre }}</td>
      <td style="min-width: 16rem">{{ mesero.documento }}</td>
      <td style="min-width: 12rem">{{ mesero.turno }}</td>
      <td>
        <p-button
          icon="pi pi-pencil"
          class="mr-2"
          [rounded]="true"
          [outlined]="true"
          (click)="editMesero(mesero)"
        />
        <p-button
          icon="pi pi-trash"
          severity="danger"
          [rounded]="true"
          [outlined]="true"
          (click)="deleteMesero(mesero)"
        />
      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog
  [(visible)]="meseroDialog"
  [style]="{ width: '450px' }"
  header="Detalles del Mesero"
  [modal]="true"
>
  <ng-template #content>
    <div class="flex flex-col gap-6">
      <div>
        <label for="nombre" class="block font-bold mb-3">Nombre</label>
        <input
          type="text"
          pInputText
          id="nombre"
          [(ngModel)]="mesero.nombre"
          required
          autofocus
          fluid
        />
        <small class="text-red-500" *ngIf="submitted && !mesero.nombre">
          El nombre es requerido.
        </small>
      </div>

      <div>
        <label for="documento" class="block font-bold mb-3">Documento</label>
        <input
          type="text"
          pInputText
          id="documento"
          [(ngModel)]="mesero.documento"
          required
          fluid
        />
        <small class="text-red-500" *ngIf="submitted && !mesero.documento">
          El documento es requerido.
        </small>
      </div>

      <div>
        <label for="turno" class="block font-bold mb-3">Turno</label>
        <input
          type="text"
          pInputText
          id="turno"
          [(ngModel)]="mesero.turno"
          required
          fluid
        />
        <small class="text-red-500" *ngIf="submitted && !mesero.turno">
          El turno es requerido.
        </small>
      </div>
    </div>
  </ng-template>

  <ng-template #footer>
    <p-button label="Cancelar" icon="pi pi-times" text (click)="hideDialog()" />
    <p-button label="Guardar" icon="pi pi-check" (click)="saveMesero()" />
  </ng-template>
</p-dialog>

<p-confirmdialog [style]="{ width: '450px' }" />
